.animate {
  width: 0%; /* Start from 0% width */
  animation: growWidth 1s ease forwards; /* Animation duration is 1 second */
}

@keyframes growWidth {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}
