.smart-glass {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.logo {
  width: 300px;
  height: 300px;
  position: relative;
}

.circle {
  padding: 20px;
  border: 5px solid transparent;
  border-top-color: #697F31;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: connect 2.5s linear infinite;
}



@keyframes connect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
