/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(90deg, var(--color-dark) 50%, var(--color-dark) 0) right/200% 50%;
  animation: l21 3s infinite alternate-reverse;
}
.loader::before {
  content: "NAVIRA";
  color: transparent;
  padding: 0 5px;
  font-size: 20vw;
  background: inherit;
  background-image: linear-gradient(90deg, var(--color-secondary) 50%, var(--color-dark) 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l21 {
  0% { background-position: left; }
  100% { background-position: right; }
}